#Python
__pycache__/
*.py[cod]
*.pyo

#Виртуальное окружение
venv/
ENV/
env/

#IDE-конфигурации
.idea/
.vscode/

#Базы данных (если локальные и не нужны в Git)
*.db
*.sqlite3
compliments.json

#Логи
*.log

#Тесты
.pytest_cache/
.coverage

#Кэш pip / build
*.egg-info/
dist/
build/

#Node.js (если используется)
node_modules/
package-lock.json

#Служебное
.DS_Store
Thumbs.db
compliments.json
