<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
    <remove name="Python FastCGI" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" 
      scriptProcessor="C:\WEB\lyole\venv\Scripts\python.exe|
      C:\WEB\lyole\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
    
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\WEB\lyole" />
    <add key="WSGI_LOG" value="C:\WEB\lyole\app.log" />
  </appSettings>
</configuration>