{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block header %}
<h1>Вход</h1>
{% endblock %}

{% block content %}
<form method="post" class="form-control">
    <input type="text" name="username" placeholder="Username" class="form-control"><br>
    <input type="password" name="password" placeholder="Password" class="form-control"><br>
    <button class="btn btn-primary" type="submit">Login</button>
    <a href="{{ url_for('auth_register') }}" class="nav-link">Register</a>
</form>
{% endblock %}